
{% extends 'base.html' %}
{% block content %}
<h2>Detalhes do Contrato</h2>
<form method="POST">
    {% for k, v in contrato.items() %}
        <label>{{ k.replace('_', ' ').capitalize() }}:</label>
        {% if 'data' in k %}
            <input type="date" name="{{ k }}" value="{{ v|default('')[:10] }}"><br>
        {% elif k in ['baixa_acima_48_meses', 'protesto'] %}
            <input type="checkbox" name="{{ k }}" {% if v %}checked{% endif %}><br>
        {% else %}
            <input type="text" name="{{ k }}" value="{{ v|default('') }}"><br>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Salvar">
</form>
<a href="{{ url_for('index') }}">Voltar</a>
{% endblock %}
